arxiv
bs4
faiss-cpu
fastapi
ipykernel
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-openai
langchain-pymupdf4llm
langsmith
lxml
openai
pillow
pydantic
pydantic_core
pypdf
PyMuPDF
python-dotenv
python-multipart
streamlit
tiktoken
uvicorn
wikipedia
